body {
  font-family: sans-serif;
  line-height: 2.2em;
  margin: 0px auto 0px auto;
  background-color: rgb(242, 242, 242);
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

#white-space {
  background-color: white;
  top: 0;
  left: 0;
  height: 50px;
  position: relative;
}

#header {
  background-image: url("images/header_img.jpg");
  background-size: 100%;
  height: 130px;
  background-color: #b31b1b85;
  padding: 50px 0px 15px 0px;
  color: white;
  text-align: center;
  position: relative;
  font-size: 25px;
}

#bubble img {
  position: absolute;
  top: 5px;
  left: 210px;
  height: 40px;
}

#bear img {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 248px;
}

.flex-box {
  display: flex;
  flex-direction: row;
}

#side-bar {
  background-color: white;
  margin: 0px 10px 0px 20px;
  padding: 20px 15px 20px 15px;
  width: 25%;
}

.title {
  margin: 0 0 0 0;
}

.input-box {
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 90%;
  height: 20px;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#search-button {
  font-size: 98%;
  font-weight: bold;
  text-align: center;
  background-color: #b31b1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #c85353;
}

/* #upvote-button,
#downvote-button {
  font-size: 98%;
  font-weight: bold;
  text-align: center;
  background-color: #b31b1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 35px;
  cursor: pointer;
} */

#vote-buttons {
  display: flex;
  justify-content: left;


}

.vote-button {
  background-color: #b31b1b;
  size: 30%;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  border-color: white;
}

#suggest-button {
  font-size: 98%;
  font-weight: bold;
  text-align: center;
  background-color: #b31b1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

#suggest-button:hover {
  background-color: #c85353;
}

#main-table {
  background-color: white;
  margin: 0px 20px 0px 10px;
  padding: 20px 10px 20px 10px;
  width: 80%;
}

.result {
  width: 97%;
  margin: 15px;
  border-bottom: 2px grey solid;
}

.left {
  background-color: white;
  margin: 0px 10px 0px 20px;
  padding: 5px 15px 20px 15px;
  width: 40%;
}

.left p {
  margin: 0px;
}

.right {
  background-color: white;
  margin: 0px 20px 0px 10px;
  padding: 80px 15px 20px 15px;
  width: 60%;
}

.right p {
  margin: 0px;
}

.professor-name {
  margin-bottom: 20px;
}

.review {
  height: 80px;
  background-color: lightgrey;
  margin-bottom: 20px;
}

.filter-image {
  width: 30px;
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  text-align: left;
  justify-content: center;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 6px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.toggle-label {
  padding-top: 6px;
  padding-left: 12px;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.checkbox-label {
  padding: 0px;
  margin: 6px;
  font-size: 15px;
}

.auto-box {
  box-shadow: 0 3px 10px #ccc;
  max-width: 98%;
}

.auto-box li {
  list-style: none;
  padding: 3px 16px;
  display: none;
}

#search-box.active .auto-box li {
  display: block;
}

#search-box {
  background-color: #fff;
}

.auto-box li:hover {
  background-color: #efefef;
}