body {
  font-family: sans-serif;
  line-height: 2.2em;
  margin: 0px auto 0px auto;
  background-color: rgb(242, 242, 242);
}

html {
  overflow-y: scroll;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

#white-space {
  background-color: white;
  top: 0;
  left: 0;
  height: 50px;
  position: relative;
}

#header {
  background-image: url("images/header_img.jpg");
  background-size: 100%;
  height: 130px;
  background-color: #b31b1b85;
  padding: 50px 0px 15px 0px;
  color: white;
  text-align: center;
  position: relative;
  font-size: 25px;
}

#bubble img {
  position: absolute;
  top: 5px;
  left: 210px;
  height: 40px;
}

#bear img {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 248px;
}

.flex-box {
  display: flex;
  flex-direction: row;
}

#side-bar {
  background-color: white;
  margin: 0px 10px 0px 20px;
  padding: 20px 15px 20px 15px;
  width: 25%;
}

.title {
  margin: 0 0 0 0;
}

.tip-box {
  font-size: 14px;
  padding: 5px 20px;
  background-color: #eee;
  border-radius: 4px;
  line-height: 20px;
}

.input-box {
  border-radius: 3px;
  box-shadow: 0 3px 10px #ccc;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 90%;
  height: 20px;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#search-button {
  font-size: 98%;
  font-weight: bold;
  text-align: center;
  background-color: #b31b1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #c85353;
}

#suggest-button {
  font-size: 98%;
  font-weight: bold;
  text-align: center;
  background-color: #b31b1b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

#suggest-button:hover {
  background-color: #c85353;
}

#main-table {
  background-color: white;
  margin: 0px 20px 0px 10px;
  padding: 20px 10px 20px 10px;
  width: 80%;
}

.result {
  width: 97%;
  margin: 15px;
  border-bottom: 2px grey solid;
}

.left {
  background-color: white;
  margin: 0px 5px 0px 20px;
  padding: 5px 10px 20px 15px;
  width: 30%;
  /* border: 1px black solid; */
}

.left p {
  margin: 0px;
}

.right {
  background-color: white;
  margin: 0px 20px 0px 10px;
  padding: 80px 15px 20px 10px;
  width: 70%;
}

.right p {
  margin: 0px;
}

.professor-name {
  margin-bottom: 20px;
}

.review {
  background-color: #eee;
  padding: 15px;
  /* margin-bottom: 20px; */
  line-height: 23px;
  font-size: 0.9rem;
}

.filter-image {
  width: 30px;
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  text-align: left;
  justify-content: center;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.toggle-label {
  padding-top: 6px;
  padding-left: 12px;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.checkbox-label {
  padding: 0px;
  margin: 6px;
  font-size: 15px;
}

#prof-auto-box {
  box-shadow: 0 3px 10px #ccc;
  max-width: 89%;
  margin-left: 3px;
}

#prof-auto-box li {
  list-style: none;
  padding: 3px 16px;
  display: none;
}

#prof-search-box.active #prof-auto-box li {
  display: block;
}

#prof-search-box {
  background-color: #fff;
}

#prof-auto-box li:hover {
  background-color: #efefef;
}

#course-auto-box {
  box-shadow: 0 3px 10px #ccc;
  max-width: 89%;
  margin-left: 3px;
}

.weight-box {
  border: none;
  box-shadow: 0 3px 10px #ccc;
  background-color: #fff;
}

#course-auto-box li {
  list-style: none;
  padding: 3px 16px;
  display: none;
}

#course-search-box.active #course-auto-box li {
  display: block;
}

#course-search-box {
  background-color: #fff;
}

#course-auto-box li:hover {
  background-color: #efefef;
}

.keyword-box {
  display: flex;
  flex-wrap: wrap;
}

.keyword {
  border-radius: 15px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
  line-height: 12px;
  color: #fff;
}

.course-box {
  color:#000;
  background-color: #dcd4d4;
}

.vote-button-group {
  margin: auto;
  width: 8%;
}

.vote_button {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: 20px; */
  padding: 2px;
  background-color: white;
  border: 0.5px white solid;
  cursor: pointer;
}

.vote_button img {
  /* margin: 5px; */
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  cursor: pointer;
}

.high {
  background-color: #65010c;
}

.med {
  background-color: #cb1b16;
}

.low {
  background-color: #f26a4f;
}

.rating-box {
  padding: 5px 0px;
}

.High {
  background-color: #ff4040;
  max-width: 30px;
  margin-left: 10px;
}

.Medium {
  background-color: #ffc23e;
  max-width: 45px;
  margin-left: 10px;
}

.Low {
  background-color: #00c81e;
  max-width: 30px;
  margin-left: 10px;
}

.department-box{
  color:#000;
  background-color: #dcd4d4;
}

.general-search{
  margin-bottom: 5px;
}